[submodule "vim/.vim/bundle/oceanic-next-bak"]
	path = vim/.vim/bundle/oceanic-next-bak
	url = https://github.com/mhartington/oceanic-next.git
[submodule "vim/.vim/bundle/vim-airline-bak"]
	path = vim/.vim/bundle/vim-airline-bak
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/.vim/bundle/vim-airline--themes-bak"]
	path = vim/.vim/bundle/vim-airline--themes-bak
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/.vim/bundle/Vundle.vim-bak"]
	path = vim/.vim/bundle/Vundle.vim-bak
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "vim/.vim/bundle/yajs.vim-bak"]
	path = vim/.vim/bundle/yajs.vim-bak
	url = https://github.com/othree/yajs.vim.git
